body {
    font-family: Roboto, sans-serif; 
    text-decoration: none;
    color: var(--primery-text-color);
    letter-spacing: 0.03em;
}
:root {
    --primery-text-color:#757575;
    --accent-text-color: #2196F3;
    --title-text-color: #212121;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}
main {
    width: 1600px;
    display: inline;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    


}
/* header */

.header-style {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;

}
.nav-style {
    display: flex;
    align-items: center;
   
}

.header-style a {
    text-decoration: none;
}


/* logo */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--title-text-color);
    margin-right: 93px;
}
.logo-color {
    color:var(--accent-text-color);
}
.list {
    list-style: none;
    padding: 0%;
    margin: 0;
}
/* site nav */
.site-nav {
    display: block;
    
}
.site-nav .item {
    display: inline-block;

}
.primery-nav-link, .nav-link, .contact-link {
    padding: 32px 0;
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.primery-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-text-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
}
/* auts nav */
.auth-nav {
    display: block;
    margin-left: auto;
}

.auth-nav .item {
    display: inline-block;
    
}
.auth-nav .item + .item {
    margin-left: 50px;
}

.contact-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-text-color);
}
.contact-link:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-text-color);
}
.contact-link:hover {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-text-color);
}
/* hero */
.hero-style {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
} 
.hero-content {
    
    
}
    
.hero-style .button {

    font-family:inherit;
    font-style: normal;
    font-weight: 700;   
    font-size: 16px;
    line-height: 1.8;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    margin: auto;
    margin-top: 30px;
    
    padding: 10px 32px;
   

}
.hero-style h1 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin:0;
    
}




/* benefits*/
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    
}
    
.benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.benefits p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primery-text-color);
}
.benefits h2 {
   display: none;

}
.benefits .item {
    width: 270px;
}
.benefits .item +.item {
    margin-left: 30px;
}

/* Чем мы занимаемся */
.business {
    padding-bottom: 94px;
    
}
.business h2 {
    margin: 0%;
    margin-bottom: 50px;
}
.business-list {
    display: inline-flex;
}
.business-list .item:not(:last-child) {
    margin-right: 30px;
}

    
/* Comand */

.comand {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.comand-content {
    

}
.comand h2 {
    margin: 0;
    margin-bottom:50px;
}
.team-list { 
    display: inline-flex;

}
.team-list .item:not(:last-child) {
    margin-right: 30px;
}
.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

}
.comand-info {
    padding:30px 0;
}
.comand .comand-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);
    margin: 0;
    margin-bottom: 10px;

}

.comand-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color:  var(--primery-text-color);
    margin: 0;
}
/* footer */

    
.footer-main {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-style {
    display: flex;
    flex-direction: column;
    
}
footer .logo {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-contact-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}


.footer-contact:hover {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contact:focus {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

/* button */

.button-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.project-button {
    
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    height: 38px;
}
.button-nav .item:not(:last-child) {
    margin-right: 8px;
}

/* Project */
.main-project {
    padding-top: 94px;
    padding-bottom: 94px;

}
.main-project h1 {
    display: none;
}

.project {
    display: flex;
    flex-wrap: wrap;
    
}

.project .item:nth-child(3n) {
    margin-right: 0;
}
.project .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.project .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0%;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}
.project .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-button:hover {
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    height: 38px;
    color: #FFFFFF;
    background-color: var(--accent-text-color);
    border: 0;
    border-radius: 4px;
}
.project-button:focus {
    font-family: 'inherit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: var(--accent-text-color);
    border: 0;
    border-radius: 4px;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    border: 0;
}
.project-box {
    padding: 20px 24px;

}
.project-text-primery {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
    letter-spacing: 0.06em;
    margin: 0 0 4px 0;

}
.project-text-assent {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
    text-decoration: none;letter-spacing: 0.03em;
    margin: 0;
    
}





.site-nav .link {
    text-transform: capitalize;
  }

  pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
  }
  
  pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
  }